body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #4d8866);
}
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}
img {
    width: 200px;
    height: 200px;
}
#papaicris {
    width: 600px;
    height: 500px;
}
#paicris{
    align-self: line;
}
#description2 {
    white-space: pre-line;
    font-size: 20px; 
            color: #9e0b0b; 
            font-weight: bold;
}
#comments {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comment {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
#commentInput {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
}
#addComment {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    background-color: #007BFF; 
    color: white; 
    text-align: center; 
    padding: 10px; 
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer; 
    font-size: 18px; 
    font-weight: bold; 
}